<div class="page-container">
<div class="sidebar" id="checkbox-sidebar">
    <button class="toggle-checkbox-btn" onclick="toggleCheckboxContainer()">Toggle Filters</button>
        <h2>Filter by State</h2>
        <form id="checkbox-container" style="max-height: 80vh; overflow-y: auto;">
            <label><input type="radio" name="state" id="state-AL" value="AL" onClick="update_hats()"> AL</label>
            <label><input type="radio" name="state" id="state-AK" value="AK" onClick="update_hats()"> AK</label>
            <label><input type="radio" name="state" id="state-AZ" value="AZ" onClick="update_hats()"> AZ</label>
            <label><input type="radio" name="state" id="state-AR" value="AR" onClick="update_hats()"> AR</label>
            <label><input type="radio" name="state" id="state-CA" value="CA" onClick="update_hats()"> CA</label>
            <label><input type="radio" name="state" id="state-CO" value="CO" onClick="update_hats()"> CO</label>
            <label><input type="radio" name="state" id="state-CT" value="CT" onClick="update_hats()"> CT</label>
            <label><input type="radio" name="state" id="state-DE" value="DE" onClick="update_hats()"> DE</label>
            <label><input type="radio" name="state" id="state-FL" value="FL" onClick="update_hats()"> FL</label>
            <label><input type="radio" name="state" id="state-GA" value="GA" onClick="update_hats()"> GA</label>
            <label><input type="radio" name="state" id="state-HI" value="HI" onClick="update_hats()"> HI</label>
            <label><input type="radio" name="state" id="state-ID" value="ID" onClick="update_hats()"> ID</label>
            <label><input type="radio" name="state" id="state-IL" value="IL" onClick="update_hats()"> IL</label>
            <label><input type="radio" name="state" id="state-IN" value="IN" onClick="update_hats()"> IN</label>
            <label><input type="radio" name="state" id="state-IA" value="IA" onClick="update_hats()"> IA</label>
            <label><input type="radio" name="state" id="state-KS" value="KS" onClick="update_hats()"> KS</label>
            <label><input type="radio" name="state" id="state-KY" value="KY" onClick="update_hats()"> KY</label>
            <label><input type="radio" name="state" id="state-LA" value="LA" onClick="update_hats()"> LA</label>
            <label><input type="radio" name="state" id="state-ME" value="ME" onClick="update_hats()"> ME</label>
            <label><input type="radio" name="state" id="state-MD" value="MD" onClick="update_hats()"> MD</label>
            <label><input type="radio" name="state" id="state-MA" value="MA" onClick="update_hats()"> MA</label>
            <label><input type="radio" name="state" id="state-MI" value="MI" onClick="update_hats()"> MI</label>
            <label><input type="radio" name="state" id="state-MN" value="MN" onClick="update_hats()"> MN</label>
            <label><input type="radio" name="state" id="state-MS" value="MS" onClick="update_hats()"> MS</label>
            <label><input type="radio" name="state" id="state-MO" value="MO" onClick="update_hats()"> MO</label>
            <label><input type="radio" name="state" id="state-MT" value="MT" onClick="update_hats()"> MT</label>
            <label><input type="radio" name="state" id="state-NE" value="NE" onClick="update_hats()"> NE</label>
            <label><input type="radio" name="state" id="state-NV" value="NV" onClick="update_hats()"> NV</label>
            <label><input type="radio" name="state" id="state-NH" value="NH" onClick="update_hats()"> NH</label>
            <label><input type="radio" name="state" id="state-NJ" value="NJ" onClick="update_hats()"> NJ</label>
            <label><input type="radio" name="state" id="state-NM" value="NM" onClick="update_hats()"> NM</label>
            <label><input type="radio" name="state" id="state-NY" value="NY" onClick="update_hats()"> NY</label>
            <label><input type="radio" name="state" id="state-NC" value="NC" onClick="update_hats()"> NC</label>
            <label><input type="radio" name="state" id="state-ND" value="ND" onClick="update_hats()"> ND</label>
            <label><input type="radio" name="state" id="state-OH" value="OH" onClick="update_hats()"> OH</label>
            <label><input type="radio" name="state" id="state-OK" value="OK" onClick="update_hats()"> OK</label>
            <label><input type="radio" name="state" id="state-OR" value="OR" onClick="update_hats()"> OR</label>
            <label><input type="radio" name="state" id="state-PA" value="PA" onClick="update_hats()"> PA</label>
            <label><input type="radio" name="state" id="state-RI" value="RI" onClick="update_hats()"> RI</label>
            <label><input type="radio" name="state" id="state-SC" value="SC" onClick="update_hats()"> SC</label>
            <label><input type="radio" name="state" id="state-SD" value="SD" onClick="update_hats()"> SD</label>
            <label><input type="radio" name="state" id="state-TN" value="TN" onClick="update_hats()"> TN</label>
            <label><input type="radio" name="state" id="state-TX" value="TX" onClick="update_hats()"> TX</label>
            <label><input type="radio" name="state" id="state-UT" value="UT" onClick="update_hats()"> UT</label>
            <label><input type="radio" name="state" id="state-VT" value="VT" onClick="update_hats()"> VT</label>
            <label><input type="radio" name="state" id="state-VA" value="VA" onClick="update_hats()"> VA</label>
            <label><input type="radio" name="state" id="state-WA" value="WA" onClick="update_hats()"> WA</label>
            <label><input type="radio" name="state" id="state-WV" value="WV" onClick="update_hats()"> WV</label>
            <label><input type="radio" name="state" id="state-WI" value="WI" onClick="update_hats()"> WI</label>
            <label><input type="radio" name="state" id="state-WY" value="WY" onClick="update_hats()"> WY</label>
            <label><input type="radio" name="state" id="state-Non-Descript" value="Non-Descript" onClick="update_hats()" checked> Non-Discript</label>
            <label><input type="radio" name="state" id="state-CA-Non-Descript" value="CA-Non-Descript" onClick="update_hats()" > CA-Non-Discript</label>
        </form>
        
    </div>
    <div class="main-content">
        <div class="store-items" id="store-items" data-state="">
            <!-- Items will be dynamically updated -->
        </div>
    </div>
</div>

<div id="customer-modal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div style="display: flex; align-items: center;">
            <h2 style="margin-right: 10px;">Select Customer</h2>
            <input type="text" id="customer-search" onkeyup="filterCustomers()" placeholder="Search for customers...">
        </div>
        <div class="customer-list-container" >
            <ul id="customer-list" style ="padding-left: 50px;"></ul>
        </div>
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        if (typeof update_hats === 'function') {
            update_hats();
        }
    });
</script>
