<div class="wrapper"></div>
<main>
    <h1>Arcadian Outfitters: Love Where You Live</h1>
        <section id="our-mission">
            <h2>Mission</h2>
            <p>
                We craft goods that help people feel proud of where they’re from and connected to the places and beliefs that shape them.
            </p>
        </section>
        <section id="our-mission">
            <h2>Vision</h2>
            <p>
                To build a nationwide culture of pride, connection, and belonging through headwear that celebrates every community.
                We want to be the most trusted brand in regional identity, not by following trends, but by creating meaning, honoring craftsmanship, and building real partnerships with the retailers who help tell these stories.
            </p>
        </section>
        <section id="our-mission">
            <h2>Arcadian Custom</h2>
            <p>
                Ask us about getting custom gear made for your store! 
                We specialize in fully custom apparel, including hats, beanies, polos, aprons, t-shirts, jackets, and more, all designed specifically to fit your needs.
            </p>
        </section>

    </main>
