<div class="wrapper"></div>
<main>
        <section id="our-mission">
            <h2>Who we are</h2>
            <p>
                Arcadian Outfitters is dedicated to crafting premium, custom, state-specific headwear that embodies local pride and community spirit. Our mission is to help you 
                <b>"love where you live"</b> by offering high-quality hats that represent the unique identity of your state.
            </p>
        </section>
        <section id="our-mission">
            <h2>Our Story</h2>
            <p>
                Founded in 2019, Arcadian Outfitters has grown from a small operation into a leading provider of custom headwear across multiple states. Our commitment to quality, innovation, and customer service has driven our rapid expansion, with nearly 700 retail partners and a reputation for exceptional designs.
            </p>
        </section>
        <section id="our-mission">
            <h2>Our Craftsmanship</h2>
            <p>
                As a subsidiary of Vie Gear, we leverage extensive experience in designing and manufacturing custom headwear. This partnership allows us to bring unique, high-quality hat designs to life, ensuring every piece reflects local culture and resonates with our customers.
            </p>
        </section>
        <section id="our-mission">
            <h2>Where to Find Us</h2>
            <p>
                Our hats are available in convenience stores, grocery stores, national parks, and specialty retailers across the country. Looking for a store near you? Check out our <b onclick="loadPage('/views/store_locator')">Store Locator</b> on our website to find Arcadian Outfitters gear in your area.
            </p>
        </section>

        <section id="our-team">
            <h2>Join Our Community</h2>
            <p>
                Arcadian Outfitters isn’t just about hats, it’s about a lifestyle. Stay connected with us on Instagram and Facebook for exclusive designs, community highlights, and the latest updates from our team.
            </p>
        </section>

    </main>
