<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arcadian Outfitters</title>
         <link rel="stylesheet"  type="text/css" href="/style/style.css">
         <link rel="stylesheet"  type="text/css" href="/style/headerbar.css">
         <link rel="stylesheet"  type="text/css" href="/style/qr_style.css">
        <link  rel="stylesheet"  type="text/css" href="/style/aboutus.css">
        <script src="/script/page_route.js"></script>
    </head>
<body>
    <!-- Header Bar -->
    <headerbar class="header-bar">
    <div class="logo">
    </div>
    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>

    <nav class="nav-links" >
      <ul>
        <li><button class="nav-btn" onclick="loadPage('/views/landing')">Home</button></li>
        <li><button class="nav-btn" onclick="loadPage('/views/about')">About Us</button></li>
        <li><button class="nav-btn" onclick="loadPage('/views/contact')">Contact</button></li>
        {{#if isAuthenticated}}
            <li><button class="nav-btn" onclick="loadPage('/retail/re-order')">Re-Order</button></li>
            <li><button class="nav-btn" onclick="loadPage('/retail/products')">Products</button></li>
        {{/if}}
        <li><button class="nav-btn" onclick="loadPage('/views/store_locator')">Store Locator</button></li>
        </ul>
    </nav>
    
    <div class="switch">
        {{#unless isAuthenticated}}
        <a href="/auth/signin">
          <button>Login with Microsoft</button>
        </a>
        {{/unless}}
        {{#if isAuthenticated}}
          <div class="cta-btn dropdown" id="cart" style="position: relative;">
            <!-- TO-DO add value count of items in cart -->
                <div>Cart</div>
                <span id="cart-count" style="position: absolute; top: -5px; right: -10px; background: red; color: white; border-radius: 50%; padding: 2px 6px; font-size: 12px;">
                  {{cart.length}}
                </span>
              <ul id="cart-items" class="dropdown-content">
              </ul>
              
              </div>
        {{/if}}  
    </div>
  </headerbar>
  <!-- Main Page -->
  <!-- Hero Section -->
  <div id="main-page">
    <header class="hero-section">
    <div class="hero-content">
      <h1>Welcome to Arcadian Outfitters!</h1>
      <p>love where you live</p>
    </div>
  </header>
    </div>
  <!-- Footer Section -->
  <footer>
    <p>&copy; 2024 Arcadian Outfitters. All rights reserved.</p>
    <p>Follow us on <a href="https://www.instagram.com/arcadianoutfitters/">Instagram</a> | <a href="#">Facebook</a></p>
  </footer>
</body>
</html>
<script>
function toggleSidebar() {
  const navLinks = document.querySelector('.nav-links');
  navLinks.classList.toggle('active');
}
</script>
<script src="https://alcdn.msauth.net/browser/2.37.0/js/msal-browser.min.js"></script>
<script src="https://unpkg.com/@ericblade/quagga2@1.8.4/dist/quagga.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="/script/script.js"></script>
<script src="/script/image_route.js"></script>
<script src="/script/store.js"></script>
<script src="/script/scanner.js"></script>
